body {
  font-family: "Josefin Sans", serif;
  font-weight: 300;
}

.main .logo {
  margin-top: 60px;
}

.main .logo img {
  height: 40vh;
}

.catchphrase {
  font-size: 45px;
}

.background-image {
  position: fixed;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background-position: center center;
  background-size: cover;
  filter: blur(3px);
}


@media (max-width: 768px) {
  .main .logo img {
    height: 150px;
  }

  .catchphrase {
    font-size: 35px;
  }


  .email-form {
    flex-direction: column;
  }
  .email-form input {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.socials {
  margin: 20px 0;
}

.socials a {
  display: inline-block;
  margin: 20px;
  color: #eeeeee;
}

.socials a:hover {
  color: #ffffff;
}

.email-form {
  display: flex;
}

.email-form input {
  margin-right: 20px;
}
