body {
  font-family: "Josefin Sans", serif;
  font-weight: 300;
}

.main .logo {
  margin-top: 60px;
}

.catchphrase {
  font-size: 45px;
}

.socials {
  margin: 50px 0;
}

.socials a {
  display: inline-block;
  margin: 20px;
  color: #eeeeee;
}

.socials a:hover {
  color: #ffffff;
}

.email-form {
  display: flex;
}

.email-form input {
  margin-right: 20px;
}
